<%- include('../partials/header', {title:"Play: P, R, S"}) -%>

<p> New
    <%  console.log("your mom"); %>
  <br>
  <br>
  <form action="/myBoards/new" method="POST">
    <label for="name">Board Name:</label>
    <input type="text" id="name" name="boardName" value=""><br>
    <br><br>
    <input type="submit" value="SUBMIT">
  </form>
  <%- include('../partials/footer') -%>
